body {
    margin: 0;
    padding: 0;
    background-color: #FCFFFD;
    font-family: 'Public Sans', sans-serif;
}



/* Navigation */
nav {
    /* Layout */
    height: 32px;
    padding: 16px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    /* Style */
    background-color: #FBFBFB;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

nav a {
    text-decoration: none;
    color: #121212;
}

/* Profile photo and name */
#photo-and-name {
    display: flex;
    align-items: center;
    gap: 8px;
}

#photo-rounded {
    height: 32px;
    width: 32px;
}

#name {
    display: flex;
    align-items: center;
    gap: 4px;
}

#arabic {
    font-family: 'Noto Sans Arabic', sans-serif;
    font-weight: 400;
}


/* Menus on navigation */
#menus {
    list-style-type: none;
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 64px;
    font-weight: 500;
    float: none;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#menus a {
    color:  #121212;
    text-decoration: none;
}

#menus a:hover {
    color: #556D60;
    font-weight: 500;
    text-decoration: underline;
}

#tagline {
    display: block;
    font-size: 39px;
    font-weight: 400;
    text-align: center;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 25%;
    margin-bottom: 25%;
    line-height: 60px;
}

span {
    font-weight: 600;
    font-size: 49px;
    color: #556D60;
    background-color: #E9EEE8;
    overflow: hidden;
}
span::before {
    content: "Web Development";
    animation: animate infinite 7s;    
}

@keyframes animate {
    0% {
        content: "Web Development";
    }

    25% {
        content: "Quality Assurance";
    }

    50% {
        content: "User Interface";
    }

    75% {
        content: "User Experience";
    }
}